body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(255, 230, 167);
}
header{
    text-align: center;
}
a {
    border: 2px solid rgb(255, 230, 167);
    display: inline-block;
    padding: 10px 10px;
    background-color: rgb(119, 47, 26);
    color: rgb(254, 250, 224);
    text-decoration: none;
    border-radius: 100px;
    font-family: Verdana;
    font-size: 18px;
}
a:hover {
    background-color: rgb(254, 250, 224);
    color: rgb(119, 47, 26);
}
.inform {
    text-align: center;
    font-family: Verdana;
    color: rgb(119, 47, 26);
}
h2{
    font-family: Verdana;
    color: rgb(119, 47, 26);
}
summary {
    padding: 5px;
    background-color: rgb(254, 250, 224);
    color: rgb(119, 47, 26);
    font-family: Verdana;
    border: 2px rgb(255, 230, 167);
    border-radius: 100px;
    cursor: pointer;
} 
.details_info{
    font-family: Verdana;
    border: 2px rgb(119, 47, 26) solid;
    padding: 10px;
    border-radius: 25px;
}
.details_img{
    width: 100%;
    max-height: 200px;
    width: auto;
    border: 2px solid rgb(255, 230, 167);
    border-radius: 50px;
    box-shadow: 0 18px 24px rgb(255, 230, 167);
}
details:open {
    color:rgb(119, 47, 26); 
    background-color:rgb(254, 250, 224);
}
